html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
  background-color: #dbe9ff;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #162947;
  }
}
